language: generic
before_install:
  - wget http://downloads.arduino.cc/arduino-cli/arduino-cli_latest_Linux_64bit.tar.gz
  - tar xf arduino-cli_latest_Linux_64bit.tar.gz
  - mkdir -p $HOME/bin
  - mv arduino-cli $HOME/bin/arduino-cli
  - export PATH=$PATH:$HOME/bin
  - arduino-cli core update-index
  - arduino-cli config init --additional-urls https://github.com/stm32duino/BoardManagerFiles/raw/master/STM32/package_stm_index.json
  - arduino-cli config dump
  - arduino-cli core update-index
  - arduino-cli core install STM32:stm32
  - arduino-cli lib install LiquidCrystal
  - arduino-cli lib install "Analog Buttons"
  - arduino-cli lib install OneButton
  - sed -i '/recipe.output.tmp_file={build.project_name}.hex/d' "$HOME/.arduino15/packages/STM32/hardware/stm32/1.8.0/platform.txt"
  - sed -i '/recipe.output.save_file={build.project_name}.{build.variant}.hex/d' "$HOME/.arduino15/packages/STM32/hardware/stm32/1.8.0/platform.txt"
install:
  - mkdir -p $HOME/Arduino/libraries
  - ln -s $PWD $HOME/Arduino/libraries/.

addons:
  sonarcloud:
    organization: "abbas-sabra-sonarsource"
    token:
      secure: "c5xyI0JJ3JAetAZjrOYDugNrIaz5KdJysk6a6/RIvf7SUBRVut85PALeoZQApqhL5aMykb+yPels4gtEZ0myTIZtXaZfBoBedemF4mxqQ2wl0u+i+ZeVpBx2cWqOwNnfdBk1OTlKlDsRiMywbZmKZL420fefRYtgnT2m2eQMZRS+YcyP0Edk10151ZGr3510An8VZ5ZfiguIeiH+rJeP1n22t57IiolcwQzK7HHstYoIKrqkbzQQmbyQWWRICmVvWqRAnbfJlLc9mPT0VSwXq4/+8Br84bYG3oIEwo4dwR1JrZfKoLfhEBrouQydXUeXbX3cvvunSlEJBdrmrMkahI/zuTFku3IQNP7ly00vvIpIVWchpXlYNg9MyYnLJMBuKgj+8VcM37ir4FwFxP/eKV/QhhbVhEEx7I+DxytuEyPubwDACtanurhrDg1M+Mn5BR4QmjS8YXcUROy5v+JEPvhubT0zLK5SrMbF3twe9nDnNTk1ZBJ9Pw8RpNsYatHyPSxdX8td7U4V0CqzWwQcNloUlR5kiq61KDyr9e3c6aE2x10YWDcDkzK8OacuYJJtFzP1TcghMl5G/SYBticuM9PtXU0XrsKMb4hWil++bR5A9PHlhx4MynANvdWdpiMl7vgjNugWY/KCOlkg0cAADVlSMKNbQ2kT7s1pZ0aIDXU=" # encrypted value of your token

# Cache PlatformIO packages using Travis CI container-based infrastructure
sudo: false
cache:
    directories:
        - '$HOME/.sonar/cache/hw1'
        - '$HOME/.sonar/cache/hw2'
script:
    - |
      if [[ $TRAVIS_PULL_REQUEST_SLUG == "" || $TRAVIS_PULL_REQUEST_SLUG == "covid-response-projects/covid-respirator" ]]; then
        # HW2 analysis
        arduino-cli cache clean
        build-wrapper-linux-x86-64 --out-dir sonarcloud/hw2/bo bash sonarcloud/hw2/build.sh
        sonar-scanner -Dproject.settings=sonarcloud/hw2/sonar-project.properties -Dsonar.cfamily.cache.path=$HOME/.sonar/cache/hw2
        # HW1 analysis
        arduino-cli cache clean
        build-wrapper-linux-x86-64 --out-dir sonarcloud/hw1/bo bash sonarcloud/hw1/build.sh
        sonar-scanner -Dproject.settings=sonarcloud/hw1/sonar-project.properties -Dsonar.cfamily.cache.path=$HOME/.sonar/cache/hw1
      fi